**/outputs/

GNN/code/data
checkpoints/
*.pth
*.pt
*.ckpt
*.npy
*.zip
*.npz
logs/
wandb/
*.Identifier
# large datasets
GNN/code/biogrid_positive_edges.csv
GNN/code/biogrid_positive_edges_expanded.csv
GNN/code/DDA_test/data/
GNN/code/DDA_test/data_signed/
GNN/code/TI_test/data_signed/
GNN/code/DDA_test.zip
experiments/exp1_accuracy/TI_test/data_signed/
experiments/exp1_accuracy/DDA_test/data_signed/
experiments/exp1_accuracy/PPI_test/data/
DiGress/iteration_outputs